@page
@model RazorWeb.Pages.Shared.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

@{
    var pagingmodel = new RazorWeb.Helpers.PagingModel()
    {
        currentpage = Model.currentPage,
        countpage = Model.countPages,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new {p = p})
    };
}



<h1>Danh sách bài biết</h1>

<form method="get" asp-page="./Index" class="mb-2">
    <label>Tìm kiếm</label>
    <input name="searchString" value="" />
    <button type="submit" class="">Tìm kiếm</button>
</form>

<p>
    <a class="btn btn-primary" asp-page="Create">Tạo bài viết</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Creadted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>@(++i)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creadted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Xem</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paging" model="@pagingmodel" />